<div>
    <div class="card">
        <div class="card-header text-white bg-success bg-gradient">
            <span class="fs-4">Tanı Listesi</span>
            <a href="#" id="btnGuncelle" onclick="updateDiagnosis()" class="btn btn-warning ms-2">Güncelle</a>
        </div>
        <div class="card-body">
            <table id="tblDiagnoses" class="table table-bordered table-striped" style="width:100%">
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var DataTable;

        $(document).ready(function () {
            DataTable = $('#tblDiagnoses').DataTable({
                ajax: '/Diagnosis/GetAll',
                columns: [
                    { data: 'id', title: "Id" },
                    { data: 'name', title: "Ad" },
                    { data: 'code', title: 'Kod' }
                ]
            });
        });

        function updateDiagnosis() {
            $.ajax({
                type: 'GET',
                url: '/Diagnosis/UpdateDiagnosesList',
                success: function (res) {
                    toastr.success("Tanılar başarıyla güncellendi");
                    DataTable.ajax.reload();
                },
                error: function (xhr, status, error) {
                    toastr.error("Tanı güncelleme hatası: " + error);
                }
            });
        }
    </script>
}

