<div>
    <div class="card">
        <div class="card-header  text-white bg-success bg-gradient">
            Kullanıcı Listesi

            <a href="#" id="btnEkle" class="btn btn-warning ml-4 ">Ekle</a>
        </div>
        <div class="card-body">
            <table id="tblUser" class="table table-bordered table-striped" style="width:100%">
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="modalTitleId">Kullanıcı Ekle </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="mb-3">
                        <label class="form-label">Adı</label>
                        <input type="text" id="txtName" class="form-control txt">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Soyadı</label>
                        <input type="text" id="txtSurname" class="form-control txt">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">E-Mail Adresi</label>
                        <input type="text" id="txtEmail" class="form-control txt">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Parola</label>
                        <input type="password" id="txtPassword" class="form-control txt">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Telefon No</label>
                        <input type="tel" id="txtGsm" class="form-control txt">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">TCKN</label>
                        <input type="text" id="txtTckn" class="form-control txt">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Medula Parolası</label>
                        <input type="password" id="txtMedulaPassword" class="form-control txt">
                    </div>
                    <div id="ddlCustomer" class="mb-3">
                        <label class="form-label">Müşteri Adı</label>
                        <select id="ddlCustomerSelect" class="form-control select2">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Posta Kodu</label>
                        <input type="text" id="txtPinCode" class="form-control txt">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Şehir Kodu</label>
                        <input type="text" id="txtCityCode" class="form-control txt">
                    </div>
                    <div id="ddlIsAdmin" class="mb-3">
                        <label class="form-label">Rol</label>
                        <select id="ddlRole" class="form-control select2">
                            <option value="False">Kullanıcı</option>
                            <option value="True">Admin</option>
                        </select>
                    </div>
                    <div id="ddlActive" class="mb-3">
                        <label class="form-label">Aktif</label>
                        <select id="ddlIsActive" class="form-control select2">
                            <option value="False">Pasif</option>
                            <option value="True">Aktif</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <a href="#" id="btnSave" class="btn btn-primary">Kaydet</a>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script>
        var DataTable;
        $(document).ready(function () {
            fillDataTable();
            fillDdlCustomerSelect();
            $("#btnEkle").click(function () {
                $('.select2').select2({ width: '100%', dropdownParent: $('#modal') });
                $("#modalTitleId").text("Kullanıcı Ekle");
                $(".txt").val("");
                $("#btnSave").text("Kaydet").removeClass("btn-success").addClass("btn-primary");
                $("#modal").modal('show');
            });

            $("#btnSave").off().click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/User/Create',
                    data: {
                        name: $("#txtName").val(),
                        surname: $("#txtSurname").val(),
                        email: $("#txtEmail").val(),
                        gsm: $("#txtGsm").val(),
                        tckn: $("#txtTckn").val(),
                        medulaPassword: $("#txtMedulaPassword").val(),
                        customerId: $("#ddlCustomerSelect option:selected").val(),
                        pinCode: $("#txtPinCode").val(),
                        cityCode: $("#txtCityCode").val(),
                        isAdmin: $("#ddlRole option:selected").val(),
                        isActive: $("#ddlIsActive option:selected").val()
                    },

                    success: function (res) {
                        $("#modal").modal('hide');
                        toastr.success("Kayıt başarıyla eklendi");
                        DataTable.ajax.reload();
                    }
                })
            });
        })

        function fillDataTable() {
            DataTable = $('#tblUser').DataTable({

                //sen dışardan string bir parametre alabilirsin. alırsan bu parametre sana query string'ten gelecek. from query ordan geliyor. frombody'de var o da apilerde bir paketi gönderirken kullanılıyor. [] içindekiler anotiondur. url'nin aldığı parametrelere query string denir. customerId si datatable'da olan nesneyi string customerId'nin içine atıyor.
                ajax: '/User/GetAll?customerId=@Context.Request.Query["customerId"]',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'name', title: 'Ad' },
                    { data: 'surname', title: 'Soyad' },
                    { data: 'email', title: 'Email' },
                    { data: 'gsm', title: 'Gsm' },
                    { data: 'tckn', title: 'TCKN' },
                    { data: 'customer.name', title: 'Müşteri Adı' },
                    { data: 'isAdmin', title: 'Admin' },
                    { data: 'isActive', title: 'Aktif' },
                    {
                        data: 'id', title: 'İşlemler', render: function (data) {
                            return `<a href="#" onclick= "deleteUser('${data}')" class="btn btn-sm btn-danger"> Sil </a><a href="#" onclick="editUser('${data}')" class="btn btn-sm btn-primary" > Düzenle</a>`
                        }
                    }
                ]
            });
        }

        function editUser(id) {
            $('.select2').select2({ width: '100%', dropdownParent: $('#modal') });
            $("#modalTitleId").text("Kullanıcı Düzenle");
            $("#btnSave").text("Güncelle").removeClass("btn-primary").addClass("btn-success");
            $("#modal").modal('show');

            $.ajax({
                type: 'POST',
                url: 'User/GetById',
                data: { id: id },
                success: function (res) {
                    console.log(res);
                    $("#txtName").val(res.name);
                    $("#txtSurname").val(res.surname);
                    $("#txtEmail").val(res.email);
                    $("#txtPassword").val(res.password);
                    $("#txtGsm").val(res.gsm);
                    $("#txtTckn").val(res.tckn);
                    $("#txtMedulaPassword").val(res.medulaPassword);
                    $("#txtPinCode").val(res.pinCode);
                    $("#txtCityCode").val(res.cityCode);
                    if (res.isAdmin) {
                        $("#ddlRole").val("True").trigger('change');
                    } else {
                        $("#ddlRole").val("False").trigger('change');
                    }
                    if (res.isActive) {
                        $("#ddlIsActive").val("True").trigger('change');
                    } else {
                        $("#ddlIsActive").val("False").trigger('change');
                    }
                    fillDdlCustomerSelect();

                    $(document).ajaxStop(function () {
                        $(this).off("ajaxStop");
                        $("#ddlCustomerSelect").val(res.customerId).trigger('change');
                        $('.select2').select2({ width: '100%', dropdownParent: $('#modal') });
                        $('#modal').modal('show');
                    });
                    $("#btnSave").off().click(function () {

                        $.ajax({
                            type: 'POST',
                            url: '/User/Update',
                            data: {
                                id: res.id,
                                customerId: $("#ddlCustomerSelect option:selected").val(),
                                name: $("#txtName").val(),
                                surname: $("#txtSurname").val(),
                                email: $("#txtEmail").val(),
                                password: res.password,
                                gsm: $("#txtGsm").val(),
                                tckn: $("#txtTckn").val(),
                                medulaPassword: $("#txtMedulaPassword").val(),
                                pinCode: $("#txtPinCode").val(),
                                cityCode: $("#txtCityCode").val(),
                                isAdmin: $("#ddlRole option:selected").val(),
                                isActive: $("#ddlIsActive option:selected").val(),
                                customer: res.customer
                            },
                            success: function (res) {
                                $("#modal").modal('hide');
                                toastr.success("Başarıyla Güncellendi");
                                DataTable.ajax.reload();
                            }
                        });
                    });
                }

            });
        }

        function fillDdlCustomerSelect() {
            $.ajax({
                type: 'GET',
                url: '/Customer/GetAll',
                success: function (res) {
                    $('#ddlCustomerSelect').empty();
                    for (var item of res.data) {
                        //$("#ddlCategory").append(`<option value="${item.id}">${item.name}</option>"`);
                        $('#ddlCustomerSelect').append(new Option(item.name, item.id, false, false));
                    }
                }
            });
        }

        function deleteUser(id) {
            Swal.fire({
                title: 'Silmek istediğinize emin misiniz ?',
                text: "Silme işlemi geri alınamayacaktır!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil',
                cancelButtonText: 'İptal'
            }).then(function (result) {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Silindi!',
                        '',
                        'success'
                    )
                    $.ajax({
                        type: 'POST',
                        url: '/User/Delete',
                        data: { id: id },
                        success: function () {
                            DataTable.ajax.reload();
                        },
                        error: function () {
                            toastr.error("Hata Oluştu")
                        }
                    })
                }
            })
        }
    </script>
}

